# Maven
target/

# Compiled
*.class

# Package Files
*.jar
*.war
*.ear

# Logs
logs/
*.log

# Spring Boot
**/application-local.yml
*.pid
*.pid.lock

# Coverage
coverage/
jacoco.exec

# IDE - IntelliJ
.idea/
*.iml
out/

# IDE - Eclipse
.project
.classpath
.settings/
.playwright-mcp

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Others