<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oigit.admin.workcalendar.infra.persistence.mapper.WorkCalendarDateOverrideMapper">
    <delete id="physicalDeleteByVersionId">
        delete from sys_work_calendar_date_override
        where calendar_version_id = #{calendarVersionId}
    </delete>
</mapper>
